.Rhistory
phreeqc_inputs/enceladus_k1.00e-11_d1000_t1.25e+04_circ1.pqi
phreeqc_inputs/enceladus_k1.00e-11_d194200_t1.00e+05_circ1.pqi
phreeqc_inputs/enceladus_k1.00e-11_d500_t6.25e+03_circ1.pqi
phreeqc_inputs/enceladus_k1.00e-12_d1000_t1.00e+05_circ1.pqi
phreeqc_inputs/enceladus_k1.00e-12_d194200_t1.00e+05_circ1.pqi
phreeqc_inputs/enceladus_k1.00e-12_d500_t6.25e+04_circ1.pqi
phreeqc_inputs/enceladus_k1.00e-12_d600_t7.50e+04_circ1.pqi
phreeqc_inputs/enceladus_k1.00e-13_d1000_t1.00e+05_circ1.pqi
phreeqc_inputs/enceladus_k1.00e-13_d194200_t1.00e+05_circ1.pqi
phreeqc_inputs/enceladus_k1.00e-13_d500_t1.00e+05_circ1.pqi
